body{
	background-color: #023BA6;
    color: white;
    background-image: linear-gradient(90deg, #023BA6, #15A4C6);
 }

#nav-bar{
	border-top : 5px solid black;
	border-right : 5px solid black;
	border-left : 5px solid black;
	height : 4rem;
}

#item-1{
	display: inline-block;
	width : 70%;
	height: 100%;
}
#item-2{
	display: inline-block;
	width : 24%;
	height: 100%;
}
#L{
	border: none;
	background-color: rgb(0,0,0,0);
	padding : 1.3rem;
	font-size: 1.2rem;
}
#A{
	border: none;
	background-color: rgb(0,0,0,0);
	padding : 1.3rem;
	font-size: 1.2rem;
}
#H{
	border: none;
	background-color: rgb(0,0,0,0);
	padding : 1.3rem;
	font-size: 1.2rem;
}
#F{
	border: none;
	background-color: rgb(0,0,0,0);
	padding : 1.3rem;
	font-size: 1.2rem;
}
#LO{
	border: none;
	background-color: rgb(0,0,0,0);
	margin-left: 65%;
	text-align: center;
	padding : 1.3rem;
	font-size: 1.2rem;
}

#L:hover{
	background-image: linear-gradient(90deg, darkblue, lightblue);
}
#A:hover{
	background-image: linear-gradient(90deg, darkblue, lightblue);
}
#H:hover{
	background-image: linear-gradient(90deg, darkblue, lightblue);
}
#F:hover{
	background-image: linear-gradient(90deg, darkblue, lightblue);
}
#LO:hover{
	background-image: linear-gradient(90deg, darkblue, lightblue);
}
#container{
	display : flex;
}

#left-box{
	flex : 1;
	height : 85vh;
	background-color: #f049ff;
  	border: solid 1px #bcbcb7;
  	padding: 15px;
  	border-radius: 10px;
}
#lbi{
	display: inline-block;
	color: black;
	font-size: 1.4rem;
	letter-spacing: 2px;
	word-spacing: 5px;
	width : 100%;
	height : 30px;
	border-bottom : 3px solid black;
}
#min{
	color: black;
	position: relative;
	top : 2px;
}
#XOC,#XOU{
	font-size: 1.2rem;
	background-color: rgb(0, 0, 0, 0);
	border: none;
}
#XOC:hover,#XOU:hover{
	border-bottom : 3px solid black;
}
#center-box{
	flex : 2;
	height : 85vh;
	border-top : 5px solid black;
	border-bottom : 5px solid black;
}
#cbi{
	text-align: center;
	vertical-align: center;
	color: black;
	font-size: 1.4rem;
	letter-spacing: 2px;
	word-spacing: 5px;
	width : 100%;
	height : 30px;
	border-bottom : 3px solid black;
}

#right-box{
	flex : 1;
	height : 85vh;
	border : 5px solid black;
}
