body{
    display: flex;
    align-items: center;
    justify-content: center;
    height : 600px;
    flex-direction: column;
    background-color : #7B8EA5;;
}
.BOX{
    margin: 0;
    width:300px;
}

#R1{
    display:flex;
    border: 2px solid black;
}
#B1{
    align-items: center;
    flex:1;
    border:2px solid black;
    height:100px;
    font-family: monospace;
    font-size: 4rem;
    text-align: center;
}
#B2{
    flex:1;
    border:2px solid black;
    height:100px;
    font-family: monospace;
    font-size: 4rem;
    text-align: center;
}
#B3{
    flex:1;
    border:2px solid black;
    height:100px;
    font-family: monospace;
    font-size: 4rem;
    text-align: center;
}
#R2{
    display:flex;
    border: 2px solid black;
}
#B4{
    align-items: center;
    flex:1;
    border:2px solid black;
    height:100px;
    font-family: monospace;
    font-size: 4rem;
    text-align: center;
}
#B5{
    flex:1;
    border:2px solid black;
    height:100px;
	font-family: monospace;
    font-size: 4rem;
    text-align: center;
}
#B6{
    flex:1;
    border:2px solid black;
    height:100px;
    font-family: monospace;
    font-size: 4rem;
    text-align: center;
}
#R3{
    display:flex;
    border: 2px solid black;
}
#B7{
    align-items: center;
    flex:1;
    border:2px solid black;
    height:100px;
   	font-family: monospace;
    font-size: 4rem;
    text-align: center;
}
#B8{
    flex:1;
    border:2px solid black;
    height:100px;
    font-family: monospace;
    font-size: 4rem;
    text-align: center;
}
#B9{
    flex:1;
    border:2px solid black;
    height:100px;
    font-family: monospace;
    font-size: 4rem;
    text-align: center;
}

h3{
	border : 3px solid black;
	width : 20%;
	height: auto;
	text-align: center;
	background-color: lightskyblue;
	color: black;
}
